---
import Layout from "../../layouts/Layout.astro"
import { getLastLaunches, getLaunchBy } from "../../services/spacex"

const { id } = Astro.params

let launch
if (id){
    launch = await getLaunchBy({ id })
}

export async function getStaticPaths() {
    
    const launches = await getLastLaunches()

    return launches.map(launch => ({
        params: { id: launch.id},
    }))
}
---
<Layout title={`Lanzamiento ${id}`}>
    <article>
        <picture class="flex justify-center p-4">
            <img class="mb-5 rounded-lg" src={launch?.links?.patch.small} alt={`Patch for launch ${launch?.name}`} />
        </picture>
        <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
            Flight #{launch?.flight_number}
        </h2>

        <p class="mb-4 font-light text-gray-400">
            {launch?.details != null && launch?.details?.length > 100 ? launch?.details.slice(0,100) + "..." : launch?.details}
        </p>
    </article>
</Layout>
